.badge {
    background-color: #131A28;
    color: #FFAA05;
    font-size: 0.75rem;
}

.big-badge {
    font-size: 1.25rem;
}

.bi-star-fill {
    /* color: linear-gradient(#F6DD55, #F9A720); */
    color: #F9A720;
}

.btn {
    border-radius: 0.5rem;
    color: #FFAA05;
    font: bold 1.25rem "Roboto Condensed";
    background-color: #131A28;
}

.btn:hover {
    background-color: #FFAA05;
    color: #131A28;
}

.card-title {
    font: bold 1.5rem "Roboto Condensed";
    max-height: 4rem;
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-text {
    font: normal 1.125rem "Roboto Condensed";
}

.emoticon {
    font: bold 5rem "Roboto Condensed";
}

.form-control {
    border-radius: 0.5rem;
    font: bold 1.25rem "Roboto Condensed";
    height: 2.75rem;
}

.form-control:focus {
    border-color: #FFAA05;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FFAA05;
}

.info-title {
    font: bolder 1rem "Roboto Condensed";
    margin-bottom: 0.25rem;
}

.modal-content {
    font-family: "Roboto Condensed";
}

.modal-title {
    font-weight: bold;
}

.no-res {
    min-height: 100vh;
}

.text-justify {
    text-align: justify;
}

.title {
    color: #FAF6F7;
    font: normal 5rem "Boogaloo";
    text-shadow: 3px 3px 0px #FFAA05;
}

.title-page {
    background-image: linear-gradient(#076FB0, #131A28);
    min-height: 100vh;
}

.result-page {
    background-color: #131A28;
    min-height: 100vh;
}

.w300 {
    width: 300px !important;
}

/* Card style */
.card:hover {
    box-shadow: 0 40px 60px -20px rgba(207, 207, 207, 0.15);
    z-index: 100;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Spinner https://loading.io/css/ */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #FAF6F7;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}

@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}

@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}