<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDisney+ | Search Information of Disney+ Films and TV Shows</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'IMDisney+.ico' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- CSS File -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>


<div class="title-page d-flex flex-column justify-content-center">
    <div class="container">
        <div class="title text-center">IMDisney+</div>
        <form class="mt-5 d-flex justify-content-center" method="post">
            {% csrf_token %}
            <input type="text" class="form-control mr-2" placeholder="Type something" name='title'>
            <select class="form-control mx-3" name='category'>
                <option selected>Film</option>
                <option>TV Show</option>
                <option>Cast</option>
            </select>
            <button type="submit" class="btn mr-2">Search</button>
        </form>
        <div class="d-flex justify-content-center">
            <div class="lds-ellipsis" id="spinner" hidden>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

{% if results %}
<div class="result-page pt-5" id="result">
    <div class="container">
        <div class="d-flex flex-column">
            {% for movie in results %}
            {% if forloop.counter0 == 0 %}
            <div class="d-flex justify-content-between">
            <div class="card mb-3 w300">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <div class="card-text d-flex my-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <div class="mx-2">{{ movie.review_score }}</div>
                    </div>
                    <div class="card-text my-1">{{ movie.release_year }} | {{ movie.duration }}</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn mt-3" data-toggle="modal" data-target="#modal{{ forloop.counter0 }}">See Details</button>
                    </div>
                </div>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="modal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ movie.title }}</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            </div>
                        <div class="modal-body">
                            <div class="d-flex align-items-center">
                                <div class="badge big-badge p-2 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                    <div class="mx-2">{{ movie.review_score }}</div>
                                </div>
                                <div class="badge big-badge mx-2 p-2">PG</div>
                                <div>| {{ movie.release_year }} • {{ movie.duration }}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Description</div>
                                <div class="text-justify">{{ movie.description}}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Country</div>
                                <div class="d-flex">
                                    {% for country, country_name in movie.countries_zip %}
                                    <a href="{{ country }}" target="_blank" rel="noopener noreferrer"><span class="badge badge-pill ml-3">{{ country_name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Genre</div>
                                <div class="d-flex">
                                    {% for genre, genre_name in movie.genres_zip %}
                                    <span class="badge badge-pill ml-3">{{ genre_name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if movie.producers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Producer</div>
                                    {% for producer, producer_name in movie.producers_zip %}
                                        <a href="{{ producer }}" target="_blank" rel="noopener noreferrer">{{ producer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.directors %}
                            <div class="info-element mt-3">
                                <div class="info-title">Director</div>
                                    {% for director, director_name in movie.directors_zip %}
                                        <a href="{{ director }}" target="_blank" rel="noopener noreferrer">{{ director_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.writers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Writer</div>
                                    {% for writer, writer_name in movie.writers_zip %}
                                        <a href="{{ writer }}" target="_blank" rel="noopener noreferrer">{{ writer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.casts %}
                            <div class="info-element mt-3">
                                <div class="info-title">Casts</div>
                                {% for cast, cast_name in movie.casts_zip %}
                                    <a href="{{ cast }}" target="_blank" rel="noopener noreferrer">{{ cast_name }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% elif forloop.counter0|divisibleby:3 %}
            </div>
            <div class="d-flex justify-content-between">
            <div class="card mb-3 w300">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <div class="card-text d-flex my-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <div class="mx-2">{{ movie.review_score }}</div>
                    </div>
                    <div class="card-text my-1">{{ movie.release_year }} | {{ movie.duration }}</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn mt-3" data-toggle="modal" data-target="#modal{{ forloop.counter0 }}">See Details</button>
                    </div>
                </div>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="modal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ movie.title }}</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            </div>
                        <div class="modal-body">
                            <div class="d-flex align-items-center">
                                <div class="badge big-badge p-2 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                    <div class="mx-2">{{ movie.review_score }}</div>
                                </div>
                                <div class="badge big-badge mx-2 p-2">PG</div>
                                <div>| {{ movie.release_year }} • {{ movie.duration }}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Description</div>
                                <div class="text-justify">{{ movie.description }}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Country</div>
                                <div class="d-flex">
                                    {% for country, country_name in movie.countries_zip %}
                                    <a href="{{ country }}" target="_blank" rel="noopener noreferrer"><span class="badge badge-pill ml-3">{{ country_name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Genre</div>
                                <div class="d-flex">
                                    {% for genre, genre_name in movie.genres_zip %}
                                    <span class="badge badge-pill ml-3">{{ genre_name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if movie.producers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Producer</div>
                                    {% for producer, producer_name in movie.producers_zip %}
                                        <a href="{{ producer }}" target="_blank" rel="noopener noreferrer">{{ producer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.directors %}
                            <div class="info-element mt-3">
                                <div class="info-title">Director</div>
                                    {% for director, director_name in movie.directors_zip %}
                                        <a href="{{ director }}" target="_blank" rel="noopener noreferrer">{{ director_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.writers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Writer</div>
                                    {% for writer, writer_name in movie.writers_zip %}
                                        <a href="{{ writer }}" target="_blank" rel="noopener noreferrer">{{ writer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.casts %}
                            <div class="info-element mt-3">
                                <div class="info-title">Casts</div>
                                {% for cast, cast_name in movie.casts_zip %}
                                    <a href="{{ cast }}" target="_blank" rel="noopener noreferrer">{{ cast_name }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <div class="card mb-3 w300">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <div class="card-text d-flex my-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <div class="mx-2">{{ movie.review_score }}</div>
                    </div>
                    <div class="card-text my-1">{{ movie.release_yeaar }} | {{ movie.duration }}</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn mt-3" data-toggle="modal" data-target="#modal{{ forloop.counter0 }}">See Details</button>
                    </div>
                </div>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="modal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ movie.title }}</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                            </div>
                        <div class="modal-body">
                            <div class="d-flex align-items-center">
                                <div class="badge big-badge p-2 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                    <div class="mx-2">{{ movie.review_score }}</div>
                                </div>
                                <div class="badge big-badge mx-2 p-2">PG</div>
                                <div>| {{ movie.release_year }} • {{ movie.duration }}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Description</div>
                                <div class="text-justify">{{ movie.description }}</div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Country</div>
                                <div class="d-flex">
                                    {% for country, country_name in movie.countries_zip %}
                                    <a href="{{ country }}" target="_blank" rel="noopener noreferrer"><span class="badge badge-pill ml-3">{{ country_name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-element mt-3">
                                <div class="info-title">Genre</div>
                                <div class="d-flex">
                                    {% for genre, genre_name in movie.genres_zip %}
                                    <span class="badge badge-pill ml-3">{{ genre_name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if movie.producers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Producer</div>
                                    {% for producer, producer_name in movie.producers_zip %}
                                        <a href="{{ producer }}" target="_blank" rel="noopener noreferrer">{{ producer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.directors %}
                            <div class="info-element mt-3">
                                <div class="info-title">Director</div>
                                    {% for director, director_name in movie.directors_zip %}
                                        <a href="{{ director }}" target="_blank" rel="noopener noreferrer">{{ director_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.writers %}
                            <div class="info-element mt-3">
                                <div class="info-title">Writer</div>
                                    {% for writer, writer_name in movie.writers_zip %}
                                        <a href="{{ writer }}" target="_blank" rel="noopener noreferrer">{{ writer_name }}</a>
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if movie.casts %}
                            <div class="info-element mt-3">
                                <div class="info-title">Casts</div>
                                {% for cast, cast_name in movie.casts_zip %}
                                    <a href="{{ cast }}" target="_blank" rel="noopener noreferrer">{{ cast_name }}</a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
    
</body>
</html>